# Local Compute plane connection (Works with WAN addresses too)
LATTICE_RAY_ADDRESS=ray://192.168.0.146:10001
LATTICE_RAY_NAMESPACE=lattice
LATTICE_CORE_API_URL=http://192.168.0.146:8000

# Local settings
JUPYTER_PORT=8889